# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# Editor / OS files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
